force-app/main/default/flows/Oppty_Closed_Won_Compete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_collection</name>
        <label>add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>col_competitors</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>indv_competitor</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_competitors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_update</name>
        <label>Assign update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>indv_competitor.Deal_Closed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indv_competitor.Won_against_this_Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indv_competitor.Opportunity_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>indv_competitor.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_competitors.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Oppty- Closed Won Compete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oppty- Closed Won Compete</label>
    <loops>
        <name>loop_competitors</name>
        <label>loop competitors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Competitors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_competes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Competitors</name>
        <label>Get Competitors</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_competitors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tracked_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Competitor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_competes</name>
        <label>Update competes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>col_competitors</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Competitors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>col_competitors</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor__c</objectType>
    </variables>
    <variables>
        <name>indv_competitor</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Competitor__c</objectType>
    </variables>
</Flow>
